##Â 3. MODEL APPLICATION TO TEST DATA

Now that the model is trained, we do the same with the test data (which lacks the price column) to upload it to kaggle.

In [1]:
#Data management
import pandas as pd
import joblib

#### 3.1.Test data cleaning

In [2]:
datatest = pd.read_csv("input/diamonds_test.csv")

datatest = datatest.set_index('id')
datatest.drop(['x', 'y', 'z'], axis=1, inplace=True)

corte = {
    "Ideal":5,
    "Premium":4,
    "Very Good":3,
    "Good":2,
    "Fair":1
    
}

datatest.cut.replace({
    "Ideal":5,
    "Premium":4,
    "Very Good":3,
    "Good":2,
    "Fair":1}, inplace=True)

claritydic = {
    "IF":8,
    "VVS1":7,
    "VVS2":6,
    "VS1":5,
    "VS2":4,
    "SI1":3,
    "SI2":2,
    "I1":1
}

datatest.clarity=datatest.clarity.map(claritydic)

colores = {
    "J":10,
    "I":20,
    "H":30,
    "G":40,
    "F":50,
    "E":60,
    "D":70,       
}

datatest.color=datatest.color.map(colores)

datatest.head()

    carat  cut  color  clarity  depth  table
id
0    1.10    4     30        2   62.2   58.0
1    0.51    5     20        3   62.5   57.0
2    2.03    4     40        3   61.9   59.0
3    1.21    4     50        3   60.0   60.0
4    0.55    5     50        3   61.8   55.0

In [3]:
datatest.to_csv("output/clean_diamonds_test.csv") #We save it

#### 3.2. Model fitting

In [4]:
clean_datatest = pd.read_csv("output/clean_diamonds_test.csv") #Loading the file
loaded_model = joblib.load('output/trained_models/GBR.sav') #Loading the model

In [5]:
loaded_model #The model with the params

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.01, loss='ls', max_depth=8,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=10, min_samples_split=25,
                          min_weight_fraction_leaf=0.0, n_estimators=800,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [6]:
price = loaded_model.predict(clean_datatest) #Using GradientBoostingRegressor

In [7]:
clean_datatest.head()

   id  carat  cut  color  clarity  depth  table
0   0   1.10    4     30        2   62.2   58.0
1   1   0.51    5     20        3   62.5   57.0
2   2   2.03    4     40        3   61.9   59.0
3   3   1.21    4     50        3   60.0   60.0
4   4   0.55    5     50        3   61.8   55.0

In [8]:
#Adding the PRICE column
clean_datatest["price"] = price

#Creating a DF with just the two columns we need
columns = ["id","price"]
submission = clean_datatest["price"]
clean_datatest = clean_datatest[columns]
clean_datatest.head()

   id         price
0   0   4327.624076
1   1   1081.017215
2   2  17814.228876
3   3   6747.190592
4   4   1461.513120

#### 3.4. Export

In [9]:
clean_datatest.to_csv("output/submissions/test_using_GBR.csv")

### In the next notebook, we'll make use of H20 to automatize the scrutiny of different ML models â¡ï¸   [4. Finding the best ML model with H20](https://github.com/breogann/Project-5.Machine-learning-algorithm-selection/blob/master/4.%20Finding%20the%20best%20ML%20model%20with%20H20.ipynb)